<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<!--You removed <app-heroes> because you will -->
<!--only display the HeroesComponent when the user navigates to it.-->
<!--The <router-outlet> tells the router where to display routed views.-->

<!--Users shouldn't have to paste a route URL into the address bar. -->
<!--They should be able to click a link to navigate.-->
<!--Add a <nav> element and, within that, an anchor element that, -->
<!--when clicked, triggers navigation to the HeroesComponent. -->
<!--A routerLink attribute is set to "/heroes", -->
<!--the string that the router matches to the route to HeroesComponent. -->
<!--The routerLink is the selector for the RouterLink directive that turns user clicks -->
<!--into router navigations. It's another of the public directives in the RouterModule.-->
